proxy=http://sgproxy.gfoundries.com:8080/                                                                                                                                                                                                                                                                                
https-proxy=http://sgproxy.gfoundries.com:8080
cache=/ORC_TDOPC/TOOLS/ENV3_PROD/npm

