.check-row{
    margin-top: 10px;
}

.detail-check ag-theme-bootstrap .ag-header {
    color: #eeeeee !important;
    font-size: 12px;
    background-color: #333 !important;
}

.ag-theme-balham .ag-header {
    background-color: #343a40 !important;
    color: #eeeeee !important;
}