.device-summary-table{
    font-size: 12px;
}

.device-summary-table .table-light th{
    color: #161616;
    background-color: #b3b6b9;
    border-color: #454d55;    
}

.table-bordered th, .table-bordered td {
    border: 1px solid #d2cbcb !important;
}

.btn-toggle{
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;    
    font-size: 12px;
    font-weight: 700;
}