<table class="table table-sm table-white table-bordered">
    <tbody>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">MantisID</th>
            <th scope="col">PDBStatus</th>
            <th scope="col">Disposition Method</th>
            <th scope="col">Aggregate Status</th>
        </tr>
        <tr>
            <td scope="row">{{ object.id }}</td>
            <td>{{ object.mantis_id }}</td>
            <td>{{ object.pdb_status }}</td>
            <td>{{ object.disposition_method }}</td>
            <td>{{ object.status }}</td>
        </tr>        
        <tr>
            <th scope="col">Tech</th>
            <th scope="col">JobID</th>
            <th scope="col">RunHistory</th>
            <th scope="col">GTO Status</th>
            <th scope="col">Date Generated</th>
        </tr>
        <tr>
            <td scope="row">{{ object.techtype }}</td>
            <td>{{ object.job_id }}</td>
            <td>{{ object.run_history }}</td>
            <td>{{ object.gto_status }}</td>
            <td>{{ object.date_generated }}</td>
        </tr>        
    </tbody>
</table>
