/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
/*
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

html,
body{
    height: 100%;
    background-color: rgb(228, 229, 230);
}

.nav-container{
    height: 100%;
}

body{
    margin: 0;
}

.line-break { margin-top:20px; }

.btn-small{
     font-size: 10px;
}
     
.btn-toggle{
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;    
    font-size: 12px;
    font-weight: 700;    
}

.row-break{
    margin-top: 10px;
}

.nav-break{
    margin-top: 70px;
}

.mat-full-width{
    width:100%;
}

.selectPanel{
    margin-top: 30px !important;
    font-size: 14px !important;
    min-width: 220px !important;
    margin-left: 22px !important;
}

.mat-menu-panel{
        max-width: unset !important;
}

.cdk-overlay-pane .searchFilter {
    padding:20px !important;
    background: rgb(242, 242, 242) !important;
    margin-top: 20px !important;
}
