/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
/*
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
*/
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~bootstrap/dist/css/bootstrap.css';

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "~ag-grid-community/dist/styles/ag-theme-bootstrap.css";
@import "~ag-grid-community/dist/styles/ag-theme-dark.css";

html,
body{
    height: 100%;
}

.nav-container{
    height: 100%;
}

body{
    margin: 0;
}
